accelerate==0.25.0
env==0.1.0
gym==0.23.1
hydra-core==1.3.2
imageio==2.33.0
matplotlib==3.8.2
numpy==1.26.2
omegaconf==2.3.0
packaging==23.2
setproctitle==1.3.3
setuptools==68.0.0
sortedcontainers==2.4.0
torch==2.1.1
torchviz==0.0.2
tqdm==4.66.1
tensorboard
patchelf
cython<3
setproctitle
git+https://github.com/denisyarats/dmc2gym.git
pygame
mujoco_py
git+https://github.com/huggingface/diffusers